[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipfshttpclient = "==0.8.0a2"
pandas = ">=1.1.4"
pytest = ">=6.1.2"
pytest-mock = "==3.6.1"
numpy = "==1.21"
requests = "*"
geopy = "*"
zeep = "*"
astropy = "*"
timezonefinder = "*"
Flask = "*"
pymongo = "*"
multiaddr = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"
