[submodule "program_catalog_stub/fake_program_catalog/programs/program_utils/dClimate/dweather_python_client"]
	path = program_catalog_stub/fake_program_catalog/programs/program_utils/dClimate/dweather_python_client
	url = https://github.com/dClimate/dWeather-Python-Client
