adapter/tests/log.txt
adapter/tests/payouts.csv
adapter/tests/rainfall_basket_sro.json

chainlink/.env
chainlink/.api
chainlink/.password
chainlink/secrets.zip
chainlink/tls/server.*

contracts/abi.json

extra

logs
__pycache__
.DS_Store
.pytest_cache