@import '~antd/dist/antd.less';

.App {
    padding-left: calc(100vw - 100%);
    font-family: "Barlow";

    .ant-list-item:hover {
        box-shadow: 0 0 2px #000;
        border-radius: 12px;
    }


//     .ant-list-header { // this one doesnt load properly
//         border: none;
//         // border-color: #FAFAFA;
//     }

    // .ant-layout-header .ant-btn:hover {
    //     border-color: #232323;
    //     color: #232323;
    //     // box-shadow: 0 0 2px #000;
    //     // border-radius: 12px;
    // }

    .Marketplace .ant-btn:hover {
        border-color: #232323;
        color: #232323;  
    }

    .Dashboard .ant-btn:hover {
        border-color: #232323;
        color: #232323;  
    }
    
    .ant-btn:hover {
        border-color: #232323;
        color: #232323;
        // box-shadow: 0 0 2px #000;
        // border-radius: 12px;
    }

    // .ant-modal .ant-button:hover {
    //     border-color: #232323;
    //     color: #232323;  
    // }

    // .ant-layout-content .ant-btn:hover {
    //     border-color: #232323;
    //     color: #232323;
    //     // box-shadow: 0 0 2px #000;
    //     // border-radius: 12px;
    // }

//     .ant-layout-content .ant-btn {
//         box-shadow: none;
//     }


//     .ant-layout-content .ant-btn:hover {
//         box-shadow: 0 0 2px #000;
//         border-radius: 12px;
//     }

    // .ant-input-affix-wrapper:hover  {
    //     border-color: #232323;
    // }

    // .ant-input-affix-wrapper-active  {
    //     box-shadow: 0 0 2px #000;
    // }

    // .ant-input-affix-wrapper  {
    //     background-color: #FAFAFA;
    // }

    // .ant-input {
    //     background-color: #FAFAFA;
    // }

    // .ant-input-group-addon {
    //     .ant-btn {
    //         background: #FAFAFA;
    //         box-shadow: none;
    //     }
    // }

    // .ant-input-group-wrapper .ant-input-group-wrapper-lg .dashboardSearch {
    //     border-radius: 8px;
    // }

    .ant-pagination-item {
        a {
            color: #76BEBE
        }
        background-color: #EAF2F0;
        border-color: #EAF2F0;
        border-radius: 4px;
    }

    // .ant-pagination-options:hover {
    //     border-color: #232323;
    // }

    // .ant-select-selector:hover {
    //     border-color: #232323;
    // }

    .ant-pagination-item-active {
        a {
            color: #232323;
        }
    }
}